.chart-container {
  background-color: rgba(255 255 255 / 0.5);
  .description {
    padding: 0 10px;
  }
}

.chart {
  pointer-events: auto;
  width: 100%;
  height: 20px;
  & > button {
    height: 100%;
    box-sizing: border-box;
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
  }
  .focus {
    opacity: 1;
  }
  .achievement {
    background-color: var(--achievement-color);
  }
  .affection {
    background-color: var(--affection-color);
  }
  .enjoy_the_moment {
    background-color: var(--enjoy-color);
  }
  .bonding {
    background-color: var(--bonding-color);
  }
  .leisure {
    background-color: var(--leisure-color);
  }
  .nature {
    background-color: var(--nature-color);
  }
  .exercise {
    background-color: var(--exercise-color);
  }
}

.description {
  .achievement {
    border-bottom-color: var(--achievement-color);
  }
  .affection {
    border-bottom-color: var(--affection-color);
  }
  .enjoy_the_moment {
    border-bottom-color: var(--enjoy-color);
  }
  .bonding {
    border-bottom-color: var(--bonding-color);
  }
  .leisure {
    border-bottom-color: var(--leisure-color);
  }
  .nature {
    border-bottom-color: var(--nature-color);
  }
  .exercise {
    border-bottom-color: var(--exercise-color);
  }
}
