.calcite-theme-light,
:root {
  --main-color: rgba(255 173 51 / 1);
  --achievement-color: #bd7ebe;
  --affection-color: #ff7593;
  --nature-color: #6ca676;
  --bonding-color: #fd976f;
  --exercise-color: #65a9de;
  --enjoy-color: #b2e061;
  --leisure-color: #beb9db;
  --calcite-ui-brand: var(--main-color);
  --font-color: rgba(50, 50, 50, 0.8);
}

html,
body,
.map,
#view,
.background,
.intro {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: "Avenir Next", "Avenir", "Helvetica Neue", sans-serif;
  color: var(--font-color);
}

.background {
  position: fixed;
  background-image: url("../assets/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

a {
  text-decoration: none;
  border-bottom: 3px dotted var(--main-color);
  color: inherit;
  transition: color 500ms;
}

a:hover {
  color: var(--main-color);
}

@keyframes moveTopDown {
  from {
    transform: translateY(0%);
  }

  to {
    transform: translateY(50%);
  }
}

.intro {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.8) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;

  h1 {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 3rem;
    text-shadow: 5px 2px 0px var(--main-color);
  }

  .scroll-down {
    max-width: min(700px, 80%);
    color: var(--font-color);
    line-height: 1.5rem;
    position: absolute;
    bottom: 30px;
    .down-arrow {
      height: 25px;
      margin-top: 10px;
      img {
        height: 100%;
        filter: brightness(0.1);
        opacity: 0.4;
        animation: 1s 4 alternate moveTopDown;
      }
    }
  }
}

.map {
  position: relative;
}

#view,
#ui {
  position: absolute;
}

#ui {
  z-index: 2;
  pointer-events: none;
  display: flex;
  flex-direction: column;
}

#view {
  z-index: 1;
  background-color: rgba(255 255 255 / 0.8);
}

button {
  border: none;
  background-color: transparent;
  font-family: "Avenir Next", "Avenir", "Helvetica Neue", sans-serif;
  color: var(--font-color);
  &:hover {
    cursor: pointer;
  }
}

.esri-view,
.esri-view-surface--inset-outline:focus::after {
  outline: none !important;
}

/* scrollbar styles */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 173, 51, 0.4);
  border: none;
  border-radius: var(--border-radius);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 173, 51, 0.8);
}

::selection {
  background: var(--main-color);
  color: #fff;
}
