:root {
  --main-color: rgba(235 42 97 / 1);
  --achievement-color: #bd7ebe;
  --affection-color: #ffb55a;
  --nature-color: #6ca676;
  --bonding-color: #fd7f6f;
  --exercise-color: #65a9de;
  --enjoy-color: #b2e061;
  --leisure-color: #beb9db;
}

html,
body,
#view,
.background,
.intro {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: "Avenir Next", "Avenir", "Helvetica Neue", sans-serif;
}

.background {
  position: fixed;
  background-image: url("../assets/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

a {
  text-decoration: none;
  border-bottom: 3px dotted var(--main-color);
  color: #151515;
  transition: color 500ms;
}

a:hover {
  color: var(--main-color);
}

@keyframes moveTopDown {
  from {
    transform: translateY(0%);
  }

  to {
    transform: translateY(50%);
  }
}

.intro {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.5) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;

  .intro-content {
    max-width: min(700px, 80%);
    font-size: 0.9rem;
    p {
      line-height: 1.7rem;
      span {
        border-bottom-width: 4px;
        border-bottom-style: solid;
      }
    }
  }
  h1 {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 3rem;
    text-shadow: 5px 2px 0px orange;
  }
  .achievement {
    border-bottom-color: var(--achievement-color);
  }
  .affection {
    border-bottom-color: var(--affection-color);
  }
  .enjoy {
    border-bottom-color: var(--enjoy-color);
  }
  .bonding {
    border-bottom-color: var(--bonding-color);
  }
  .leisure {
    border-bottom-color: var(--leisure-color);
  }
  .nature {
    border-bottom-color: var(--nature-color);
  }
  .exercise {
    border-bottom-color: var(--exercise-color);
  }
  .scroll-down {
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.9rem;
    position: absolute;
    bottom: 30px;
    .down-arrow {
      height: 25px;
      margin-top: 10px;
      img {
        height: 100%;
        filter: brightness(0.3);
        opacity: 0.4;
        animation: 3s infinite alternate moveTopDown;
      }
    }
  }
}

#view {
  z-index: 1;
  background-color: rgba(255 255 255 / 0.5);
}
